Repository YoelPerezCarrasco/TFM-FlysSeats: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml, azure-pipelines-infrastructure.yml

Path conditions:
  azure-pipelines-backend.yml: any of: backend, azure-pipelines-backend.yml
  azure-pipelines-frontend.yml: any of: flyseats-frontend, azure-pipelines-frontend.yml
  azure-pipelines-infrastructure.yml: any of: infrastructure, azure-pipelines-infrastructure.yml

ci: Add Azure DevOps CI/CD configuration and documentation
  AZURE_DEVOPS_AUTH.md
  QUICKSTART_DEVOPS.md
  scripts/setup-azure-devops-remote.sh
Due: none

ci: Add GitHub Actions as alternative to Azure DevOps
  .github/workflows/backend-deploy.yml
  .github/workflows/health-check.yml
  AZURE_DEVOPS_PARALLELISM_FIX.md
  scripts/setup-github-actions.sh
Due: none

ci: Simplify GitHub Actions setup with Publish Profile
  .github/workflows/backend-deploy.yml
  GITHUB_ACTIONS_SETUP.md
  scripts/setup-github-actions.sh
  scripts/setup-github-simple.sh
Due: none

trigger: Activate backend deployment
  backend/README.md
Due: azure-pipelines-backend.yml

ci: Disable old workflows that require Service Principal
  .github/workflows/_disabled/README.md
  .github/workflows/_disabled/backend-ci-cd.yml
  .github/workflows/_disabled/deploy-azure.yml
  .github/workflows/_disabled/frontend-ci-cd.yml
  .github/workflows/_disabled/terraform.yml
Due: none

docs: Add complete TFM requirements and technical design
  REQUISITOS_TFM.md
  TECHNICAL_DESIGN.md
Due: none

feat(backend): Implement Flight and Seat APIs - Sprint 1
  backend/function_app.py
  backend/models/__init__.py
  backend/models/flight.py
  backend/models/message.py
  backend/models/rating.py
  backend/models/seat.py
  backend/models/swap.py
  backend/models/user.py
  backend/scripts/init_cosmos_db.sh
  backend/utils/cosmos_client.py
  backend/utils/flight_utils.py
Due: azure-pipelines-backend.yml

docs: Add Sprint 1 progress report
  SPRINT1_PROGRESS.md
Due: none

feat(frontend): Complete Sprint 1 - Flight management UI
  flyseats-frontend/src/app/core/models/index.ts
  flyseats-frontend/src/app/core/services/flight.service.ts
  flyseats-frontend/src/app/core/services/seat.service.ts
  flyseats-frontend/src/app/features/flights/flight-create.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-join.component.ts
  flyseats-frontend/src/app/features/flights/flight-search.component.ts
  flyseats-frontend/src/app/features/flights/flights.routes.ts
Due: azure-pipelines-frontend.yml

docs: Update Sprint 1 progress to 100% complete
  SPRINT1_PROGRESS.md
Due: none

fix(frontend): Fix TypeScript error in seat.service.ts leaveFlight method
  flyseats-frontend/src/app/core/services/seat.service.ts
Due: azure-pipelines-frontend.yml

chore(backend): Update host.json to trigger deployment - Sprint 1 APIs
  backend/host.json
Due: azure-pipelines-backend.yml

fix(frontend): Resolve TypeScript compilation errors
  flyseats-frontend/src/app/core/services/flight.service.ts
  flyseats-frontend/src/app/features/flights/flight-search.component.ts
Due: azure-pipelines-frontend.yml

feat(frontend): Modern UI redesign with gradient style
  flyseats-frontend/src/app/features/flights/flight-detail-old.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-search.component.ts
  flyseats-frontend/src/styles.scss
Due: azure-pipelines-frontend.yml

feat(frontend): Ultra-modern navbar with glassmorphism and mobile menu
  flyseats-frontend/src/app/app.component.html
  flyseats-frontend/src/app/app.component.scss
  flyseats-frontend/src/app/app.component.ts
  flyseats-frontend/src/app/app.module.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Correct property references in templates
  flyseats-frontend/src/app/app.component.html
  flyseats-frontend/src/app/features/flights/flight-detail.component.ts
Due: azure-pipelines-frontend.yml

refactor(frontend): Encapsular componentes en carpetas individuales
  flyseats-frontend/src/app/features/auth/auth.routes.ts
  flyseats-frontend/src/app/features/auth/login/login.component.html
  flyseats-frontend/src/app/features/auth/login/login.component.scss
  flyseats-frontend/src/app/features/auth/login/login.component.ts
  flyseats-frontend/src/app/features/bookings/bookings-list.component.ts
  flyseats-frontend/src/app/features/bookings/bookings-list/bookings-list.component.html
  flyseats-frontend/src/app/features/bookings/bookings-list/bookings-list.component.scss
  flyseats-frontend/src/app/features/bookings/bookings-list/bookings-list.component.ts
  flyseats-frontend/src/app/features/bookings/bookings.routes.ts
  flyseats-frontend/src/app/features/flights/flight-create.component.ts
  flyseats-frontend/src/app/features/flights/flight-create/flight-create.component.html
  flyseats-frontend/src/app/features/flights/flight-create/flight-create.component.scss
  flyseats-frontend/src/app/features/flights/flight-create/flight-create.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail-old.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.html
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.scss
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-join.component.ts
  flyseats-frontend/src/app/features/flights/flight-join/flight-join.component.html
  flyseats-frontend/src/app/features/flights/flight-join/flight-join.component.scss
  flyseats-frontend/src/app/features/flights/flight-join/flight-join.component.ts
  flyseats-frontend/src/app/features/flights/flight-search.component.ts
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
  flyseats-frontend/src/app/features/flights/flights.routes.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Corregir rutas de imports después de encapsular componentes
  flyseats-frontend/src/app/features/auth/login/login.component.ts
  flyseats-frontend/src/app/features/bookings/bookings-list/bookings-list.component.ts
  flyseats-frontend/src/app/features/flights/flight-create/flight-create.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-join/flight-join.component.ts
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Eliminar prefijo /api de apiUrl
  flyseats-frontend/src/app/features/auth/login.component.ts
  flyseats-frontend/src/app/features/bookings/bookings-list.component.ts
  flyseats-frontend/src/app/features/flights/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-search.component.ts
  flyseats-frontend/src/environments/environment.prod.ts
  flyseats-frontend/src/environments/environment.ts
Due: azure-pipelines-frontend.yml

fix(backend): Eliminar carpetas functions/ legacy y usar function_app.py
  backend/functions/auth/__init__.py
  backend/functions/auth/function.json
  backend/functions/bookings/__init__.py
  backend/functions/bookings/function.json
  backend/functions/flights/__init__.py
  backend/functions/flights/function.json
  flyseats-frontend/src/environments/environment.prod.ts
  flyseats-frontend/src/environments/environment.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

fix(backend): Configurar routePrefix explícitamente en host.json
  backend/host.json
Due: azure-pipelines-backend.yml

fix(backend): Agregar rutas de flights a app.py
  backend/app.py
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

feat(backend): Integrar API de Amadeus en endpoint /api/flights
  backend/app.py
Due: azure-pipelines-backend.yml

fix(backend): Arreglar error de Redis con valores None en cache keys
  backend/utils/redis_client.py
Due: azure-pipelines-backend.yml

fix(backend): Agregar manejo robusto de errores para Amadeus
  backend/app.py
Due: azure-pipelines-backend.yml

fix(backend): Mejorar logging y manejo de excepciones en Amadeus
  backend/app.py
  backend/utils/amadeus_client.py
Due: azure-pipelines-backend.yml

feat(frontend): Mejorar interfaz de visualización de vuelos de Amadeus
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Actualizar modelo Flight para soportar datos de Amadeus
  flyseats-frontend/src/app/core/models/index.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Agregar optional chaining a todas las propiedades opcionales
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.html
  flyseats-frontend/src/app/features/flights/flight-join/flight-join.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Corregir errores de TypeScript con optional chaining
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
Due: azure-pipelines-frontend.yml

fix(frontend): Usar nullish coalescing para manejar length undefined
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
Due: azure-pipelines-frontend.yml

fix(frontend): Solucionar error 500 al ver detalles de vuelos Amadeus
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.html
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.ts
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Agregar optional chaining en verificación de flight.id
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.ts
Due: azure-pipelines-frontend.yml

feat(frontend): Separar home de resultados y agregar vista previa expandible
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.ts
Due: azure-pipelines-frontend.yml

fix(frontend): Agregar optional chaining en *ngFor de segments
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.html
Due: azure-pipelines-frontend.yml

feat(frontend): Cambiar a paleta de colores oscura
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
Due: azure-pipelines-frontend.yml

feat(frontend): Aplicar paleta oscura a todos los componentes
  flyseats-frontend/src/app/app.component.scss
  flyseats-frontend/src/app/features/flights/flight-detail/flight-detail.component.scss
  flyseats-frontend/src/app/features/flights/flight-search/flight-search.component.scss
  flyseats-frontend/src/styles.scss
Due: azure-pipelines-frontend.yml

fix(frontend): Completar tema oscuro en bookings y login
  flyseats-frontend/src/app/features/auth/login/login.component.scss
  flyseats-frontend/src/app/features/bookings/bookings-list/bookings-list.component.scss
Due: azure-pipelines-frontend.yml

fix(frontend): Mejorar diseño del dropdown del perfil - avatar más grande y mejor alineación
  flyseats-frontend/src/app/app.component.scss
Due: azure-pipelines-frontend.yml

fix(frontend): Ajustar avatar para que encaje dentro de la píldora del navbar
  flyseats-frontend/src/app/app.component.scss
Due: azure-pipelines-frontend.yml
